@model BlackSys.Models.Modelos_transmetro.ConsultarLinea

@{
    ViewBag.Title = "Eliminar Línea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Está seguro que desea eliminarlo?</h3>
<div>
    <h4>Eliminar Línea</h4>
    <hr />
    @foreach (var lista in ViewBag.Lineas)
    {
        <dl class="dl-horizontal">
            <dt>
                Línea: 
            </dt>

            <dd>
                @lista.nombre_linea
            </dd>

            <dt>
                Municipalidad: 
            </dt>

            <dd>
                @lista.nombre_municipalidad
            </dd>

        </dl>

    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eiminar" class="btn btn-danger" /> |
            <a href="/Linea/Index" class="btn btn-primary">Regresar al Listado</a>
        </div>
    }
</div>
