
@{
    ViewBag.Title = "Crear Dirección Piloto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
</head>

<h2>Crear Dirección Piloto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Dirección Piloto</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Dirección</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="txt_direccion_piloto" name="txt_direccion_piloto" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Zona</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="txt_zona_piloto" name="txt_zona_piloto" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Colonia</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="txt_colonia_piloto" name="txt_colonia_piloto" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Municipio</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="txt_municipio_piloto" name="txt_municipio_piloto" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Departamento</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="txt_departamento_piloto" name="txt_departamento_piloto" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Piloto</label>
        <div class="col-md-10">
            @Html.DropDownList("dropdown_pilotos", null, "", new { @id = "cmb_pilotos", @onChange = "cmb_pilotoschange(this.value)", @title = "Seleccione una Opción", @class = "form-control font selectpicker ", data_container = "body", data_live_search = "true", data_hide_disabled = "true" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" id="btn-crear" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    <a href="/PilotoDireccion/Index" class="btn btn-primary">Regresar al Listado</a>
</div>

<script src="~/Content/bootstrap-select.js"></script>

<script>
    $("body").on("click", "#btn-crear", function () {
        var piloid = document.getElementById("cmb_pilotos");
        pid = piloid.options[piloid.selectedIndex].value;
        var direccionpiloto = document.getElementById("txt_direccion_piloto").value;
        var zonapiloto = document.getElementById("txt_zona_piloto").value;
        var coloniapiloto = document.getElementById("txt_colonia_piloto").value;
        var municipiopiloto = document.getElementById("txt_municipio_piloto").value;
        var departamentopiloto = document.getElementById("txt_departamento_piloto").value;
        var datos = new Array();
        var dato = {};
        dato.direccion_piloto = direccionpiloto;
        dato.zona_piloto = zonapiloto;
        dato.colonia_piloto = coloniapiloto;
        dato.municipio_piloto = municipiopiloto;
        dato.departamento_piloto = departamentopiloto;
        dato.idpiloto = pid;
        datos.push(dato);
        $.ajax({
            type: "POST",
            url: "/PilotoDireccion/Create",
            data: JSON.stringify(datos),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
            }
        });
    });
</script>
