
@{
    ViewBag.Title = "Crear Acceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
</head>

<h2>Crear Acceso</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Accesos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Nombre Acceso</label>

            <div class="col-md-10">
                <input type="text" class="form-control" id="txt_nombre_acceso" name="txt_nombre_acceso" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Estación</label>

            <div class="col-md-10">
                @Html.DropDownList("dropdown_estaciones", null, "", new { @id = "cmb_estaciones", @onChange = "cmb_estacioneschange(this.value)", @title = "Seleccione una Opción", @class = "form-control font selectpicker ", data_container = "body", data_live_search = "true", data_hide_disabled = "true" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" id="btn-crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/Acceso/Index" class="btn btn-primary">Regresar al Listado</a>
</div>

<script src="~/Content/bootstrap-select.js"></script>

<script>
    $("body").on("click", "#btn-crear", function () {
        var estaid = document.getElementById("cmb_estaciones");
        eid = estaid.options[estaid.selectedIndex].value;
        var nombreacceso = document.getElementById("txt_nombre_acceso").value;
        var datos = new Array();
        var dato = {};
        dato.nombre_acceso = nombreacceso;
        dato.idestacion = eid;
        datos.push(dato);
        $.ajax({
            type: "POST",
            url: "/Acceso/Create",
            data: JSON.stringify(datos),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
            }
        });
    });
</script>

