@model BlackSys.Models.ConsultarAcceso

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Detalles Accesos</h4>
    <hr />
    @foreach (var lista in ViewBag.Accesos)
    {
        <dl class="dl-horizontal">

            <div class="card-body text-center">

                <h4>Acceso: @lista.nombre_acceso</h4>
                <h4>Estación: @lista.nombre_estacion</h4>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = lista.idacceso, }, new { @class = "btn btn-warning" }) |
                    <a href="/Acceso/Index" class="btn btn-primary">Regresar al Listado</a>
                </p>


            </div>


        </dl>

    }
</div>
